.four-room-section {
}
.container {
}
.four-room-galary {
}
.four-room-galary-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .four-room-galary-list {
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
  }
}

.four-room-galary-item {
}
.four-room-describe {
  margin-top: 32px;
  margin-bottom: 28px;
}
.four-room-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 0.94;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-and-background-color-one);
  margin-bottom: 32px;
}
.four-room-text {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-and-background-color-one);
}
.four-room-buttons {
  display: flex;
}

.four-room-link {
  padding: 8px 18px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-and-background-color-one);
  border: 0.8px solid var(--text-and-background-color-one);
  border-radius: 32px;
  width: 128px;
  cursor: pointer;
}

.four-room-btn {
  border: 0.8px solid var(--text-and-background-color-one);
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-and-background-color-one);
  margin-left: 14px;
  width: 117px;
}
