<section class="about-a-kitchen section">
    <div class="container containet-about-a-kitchen">
        <h2 class="visually-hidden">About a kitchen</h2>
        <ul class="about-a-kitchen-picture-list list">
            <li class="about-a-kitchen-picture-item cook">
                <picture>
            <source 
            media="(min-width: 1440px)" 
            srcset="./img/about-a-kitchen/shef-cook-descktop.jpg 1x, ./img/about-a-kitchen/shef-cook-descktop-2x.jpg 2x"
            width="511px"
            />
          <source 
          media="(min-width: 768px)"
            srcset="./img/about-a-kitchen/shef-cook-tab.jpg 1x, ./img/about-a-kitchen/shef-cook-tab-2x.jpg 2x" 
            width="388px"
             />
            <img
            class="About-a-complex-img"
            src="./img/about-a-kitchen/shef-cook-mobil.jpg"
            alt="cook"
            style="width:100%;"
          />
          </picture>
            </li>
            <li class="about-a-kitchen-picture-item stake">
                <picture>
            <source 
            media="(min-width: 1440px)" 
            srcset="./img/about-a-kitchen/stake-descktop.jpg 1x,./img/about-a-kitchen/stake-descktop-2x.jpg 2x" 
            width="334px"
            />
          <source 
          media="(min-width: 768px)"
            srcset="./img/about-a-kitchen/stake-tab.jpg 1x, ./img/about-a-kitchen/stake-tab-2x.jpg 2x" 
            width="284px"
             />
            <img
            class="About-a-complex-img"
            src="./img/about-a-kitchen/stake-mobil.jpg"
            alt="stake"
            style="width:100%;"
          />
          </picture>
            </li>
            <li class="about-a-kitchen-picture-item coctail">
                <picture>
            <source 
            media="(min-width: 1440px)" 
            srcset="./img/about-a-kitchen/cocktail-descktop.jpg 1x, ./img/about-a-kitchen/cocktail-descktop-2x.jpg 2x" 
            width="467px"
            />
          <source 
          media="(min-width: 768px)"
            srcset="./img/about-a-kitchen/cocktail-tab.jpg 1x, ./img/about-a-kitchen/cocktail-tab-2x.jpg 2x" 
            width="284px"
             />
            <img
            class="About-a-complex-img"
            src="./img/about-a-kitchen/cocktail-mobil.jpg"
            alt="coctail"
            style="width:100%;"
          />
          </picture>
            </li>
        </ul>
        <ul class="about-a-kitchen-list list">
            <li class="about-a-kitchen-item about-a-kitchen-item-position">
                <p>
                    At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest ingredients to create delicious dishes that showcase the flavors of premium cuts of meat.
                </p>
            </li>
            <li class="about-a-kitchen-item about-a-kitchen-item-position-two">
                <p>Our slow-cooking process and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic of meat preparation at Mimino.</p>
            </li>
        </ul>
    </div>
</section>