<section class="menu-resto">
    <!---HOT MEALS-->
    <div class="restaurant-container">
  <h1 class="titel-menu">RESTAURANT MENU</h1>
  <h2 class="titel-menu-two">HOT MEALS</h2>
  <div class="food-menu-hot">
  <ul class="border-section"> 
    <li class="list-rest">
    <div class="dishes-right">
      <h3 class="name_dish">Veal borscht with beans</h3>
    <p class="portion">400 g</p>
    </div>
    <div class="dishes-left">
   <p class="ingredients">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
    <h4 class="price">240 UAH</h4>
    </div>
    </li>
    <li class="list-rest">
      <div class="dishes-right">
      <h3 class="name_dish">Cheese soup with chicken</h3> 
      <p class="portion">400 g</p>     
     </div>
     <div class="dishes-left">
     <p class="ingredients">Chicken, potatoes, carrots, onions, mushrooms, <br> cheese, greens</p>
     <h4 class="price">200 UAH</h4>
     </div>
    </li>
    <li class="list-rest">
        <div class="dishes-right">
      <h3 class="name_dish">Carbonara pasta</h3><p class="portion">400 g</p>
      </div>      
      <div class="dishes-left">
      <p class="ingredients">Tagliatelle pasta, bacon, cream,Parmesan cheese, <br> egg, greens</p>
      <h4 class="price">430 UAH</h4>
    </div>
    </li>
    <li class="list-rest">
        <div class="dishes-right">
      <h3 class="name_dish">Pork steak</h3>
      <p class="portion">400 g</p>
      </div>
      <div class="dishes-left">
      <p class="ingredients">Pork tenderloin, spices, served with sweet  <br> chili sauce and vegetables</p>
      <h4 class="price">500 UAH</h4>
    </div>
    </li>
    <li class="list-rest">
        <div class="dishes-right">
      <h3 class="name_dish">Gorbusha in white wine sauce</h3>
      <p class="portion">400 g</p>
        </div>
        <div class="dishes-left">
      <p class="ingredients">Tender redfish, cream sauce based on white wine</p>
      <h4 class="price">400 UAH</h4>
    </div>
    </li>
  </ul>
  <h3 class="titel-menu-two">SALADS</h3>
    <ul class="border-section"> 
      <li class="list-rest">
        <div class="dishes-right">
  </ul></div>
  <div class="restaurant-menu-btn-div">
        <button class="restaurant-menu-btn" type="button">
          BOOK A TABLE
         </button></div>
    <div class="food-menu">
    <ul > 
      <li class="list">
        <div class="dishes">
        <h3 class="name_dish">Caesar with chicken</h3>
        <p class="portion">230 g</p>
      </div>
      <div class="dishes-left">
        <p class="ingredients">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
      <h4 class="price">450 UAH</h4>
    </div></li>
      <li class="list-rest">
        <div class="dishes-right"> 
          <h3 class="name_dish">Caesar with shrimp</h3>
        <p class="portion">230 g</p>
      </div>
      <div class="dishes-left">
        <p class="ingredients">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
      <h4 class="price">300 UAH</h4>
      </div>
    </div>
      </li>
      <li class="list-rest">
          <div class="dishes-right"> 
        <h3 class="name_dish">Greek salad</h3>
        <p class="portion">230 g</p>
      </div>
      <div class="dishes-left">
        <p class="ingredients">Fresh cucumber, tomato, bell pepper, olives,<br> brynza cheese, lettuce, sauce</p>
      <h4 class="price">280 UAH</h4>
    </div>
      </li>
      <li class="list-rest">
        <div class="dishes-right"> 
          <h3 class="name_dish">Meat salad</h3>
        <p class="portion">230 g</p>
      </div>
      <div class="dishes-left">
        <p class="ingredients">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
      <h4 class="price">300 UAH</h4>
    </div>
      </li>
    </ul>
  </div>      
  <h3 class="titel-menu-two">SIDE DISHES AND SNACKS</h3>
    <ul class="border-section"> 
      <li class="list-rest">
        <div class="dishes-right"> 
        <h3 class="name_dish">Baked vegetables</h3>
        <p class="ingredients">Zucchini, pepper, tomato, eggplant</p>
        </div>
        <div class="dishes-left">
        <p class="portion">200 g</p>
        <h4 class="price">230 UAH</h4>
        </div>
      </li>
      <li class="list-rest">
        <div class="dishes-right"> 
        <h3 class="name_dish">French fries</h3>
        <p class="portion">150 g</p>
      </div>
      <div class="dishes-left">
        <p class="ingredients">Potatoes, tomato sauce</p>
      <h4 class="price">160 UAH</h4>
        </div>

      </li>
      <li class="list-rest">
        <h3 class="name_dish">Peasant-style potatoes</h3>
        <p class="portion">150 g</p>
        <p class="ingredients">Potatoes, spices, spicy sauces</p>
      <h4 class="price">160 UAH</h4>
      </li>
      <li class="list-rest">
        <h3 class="name_dish">Crisp pickles from the barrel</h3>
        <p class="portion">250 g</p>
        <p class="ingredients">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
      <h4 class="price">350 UAH</h4>
      </li>
      <li class="list-rest">
        <h3 class="name_dish">Chicken wings in honey sauce</h3>
        <p class="portion">400 g</p>
        <p class="ingredients">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
      <h4 class="price">160 UAH</h4>
      </li>
    </ul>
  <h3 class="titel-menu-two">DESSERT</h3>
  <ul class="border-section-dessert"> 
    <li>
      <div class="dishes">
      <h3 class="name_dish">Napoleon cake</h3>
    <p class="price">200 UAH</p>
  </div>
    </li>
    <li>
      <div class="dishes">
      <h3 class="name_dish">Poppy cake</h3>
    <p class="price"> 300 UAH</p>
  </div>
    </li>
    <li>
      <div class="dishes">
      <h3 class="name_dish">Tiramisu</h3>
    <p class="price"> 260 UAH</p>
  </div>
    </li>
  </ul>
  </div>
  <h3 class="titel-menu-two">DRINKS</h3>
  <ul>   
    <li>
      <div class="dishes">
      <h3 class="name_dish">Black/green tea</h3>
    <p class="price"> 100 UAH</p>
  </div>
    </li>
    <li>
      <div class="dishes">
      <h3 class="name_dish">Espresso</h3>
    <p class="price"> 100 UAH</p>
  </div>
    </li>
    <li>
      <div class="dishes">
      <h3 class="name_dish">Cappuccino</h3>
    <p class="price"> 100 UAH</p>
  </div>
    </li>
  </ul>
  <div class="restaurant-menu-btn-div">
    <button class="restaurant-menu-btn">
      BOOK A TABLE
     </button></div>
  
  
    </section>