:root{
    --text-and-background-color-one: #F6F6F6;
    --text-and-background-color-two: #121212;
    --subtitel-and-background-color: #484848;
    --background-gradient-two: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2));
    --background-gradient-one: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, #121212 98.51%);
    --color-text-one:#F7F7F7;
    --color-text-two:rgba(216, 215, 215, 0.5);
}
.menu-resto{
    padding-left: 20px;
     padding-right: 20px;
}
.restaurant-menu-container{
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        width: 375px;
      
    }

.menu-resto {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #121212;
}
.restaurant-menu { 

}
.titel-menu {
}
.titel-menu-two {
}
.food-menu {
}
.dishes {
}
.name_dish {
}
.portion {
}
.ingredients {
}
.price {
}
.restaurant-menu-btn {
}