<section class="section-amenities">
  <h2 class="main-title-amenities is-hidden">Amenities</h2>

  <h3 class="title-amenities">General Amenities & Facilities:</h3>
  <ul class="amenities-list list">
    <li class="aminities-item">24-hour front desk service</li>
    <li class="aminities-item">Daily housekeeping</li>
    <li class="aminities-item">Free Wi-Fi throughout the hotel</li>
    <li class="aminities-item">Elevator access</li>
    <li class="aminities-item">Luggage storage</li>
    <li class="aminities-item">Non-smoking rooms available</li>
    <li class="aminities-item">Meeting rooms for business and events</li>
    <li class="aminities-item">On-site parking (surcharge)</li>
    <li class="aminities-item">Concierge services</li>
  </ul>

  <h3 class="title-amenities">Bathroom:</h3>
  <ul class="amenities-list list">
    <li class="aminities-item">Private bathroom with shower</li>
    <li class="aminities-item">Complimentary toiletries</li>
    <li class="aminities-item">Hair dryer</li>
    <li class="aminities-item">Fresh towels daily</li>
    <li class="aminities-item">Deluxe bathrobes (in some room categories)</li>
  </ul>

  <h3 class="title-amenities">Bedroom:</h3>
  <ul class="amenities-list list">
    <li class="aminities-item">Comfortable beds with high-quality linens</li>
    <li class="aminities-item">Blackout curtains</li>
    <li class="aminities-item">
      Climate control (air conditioning and heating)
    </li>
    <li class="aminities-item">Safe for valuables</li>
    <li class="aminities-item">Writing desk and chair</li>
    <li class="aminities-item">Flat-screen TV with cable channels</li>
  </ul>

  <h3 class="title-amenities">Kitchen:</h3>
  <ul class="amenities-list list">
    <li class="aminities-item">
      In-room kitchenette (in some room categories)
    </li>
    <li class="aminities-item">Refrigerator</li>
    <li class="aminities-item">Microwave</li>
    <li class="aminities-item">Electric kettle</li>
    <li class="aminities-item">Cooking utensils and cutlery</li>
    <li class="aminities-item">Dining table and chairs</li>
  </ul>

  <h3 class="title-amenities">Media:</h3>
  <ul class="amenities-list list">
    <li class="aminities-item">Flat-screen TV with cable channels</li>
    <li class="aminities-item">High-speed Wi-Fi</li>
    <li class="aminities-item">iPod docking station</li>
    <li class="aminities-item">Speaker system</li>
    <li class="aminities-item">Electrical outlets for charging devices.</li>
  </ul>
</section>
