<section class="section-amenities">
  <div class="amenities container">
    <h2 class="main-title-amenities visually-hidden">Amenities</h2>

    <div class="block-amenities">
      <div class="block-general-amenities">
        <h3 class="title-amenities">General Amenities & Facilities:</h3>
        <ul class="amenities-list">
          <li class="aminities-item">24-hour front desk service</li>
          <li class="aminities-item">Daily housekeeping</li>
          <li class="aminities-item">Free Wi-Fi throughout the hotel</li>
          <li class="aminities-item">Elevator access</li>
          <li class="aminities-item">Luggage storage</li>
          <li class="aminities-item">Non-smoking rooms available</li>
          <li class="aminities-item">Meeting rooms for business and events</li>
          <li class="aminities-item">On-site parking (surcharge)</li>
          <li class="aminities-item">Concierge services</li>
        </ul>
      </div>

      <div class="block-bathroom-amenities">
        <h3 class="title-amenities">Bathroom:</h3>
        <ul class="amenities-list">
          <li class="aminities-item">Private bathroom with shower</li>
          <li class="aminities-item">Complimentary toiletries</li>
          <li class="aminities-item">Hair dryer</li>
          <li class="aminities-item">Fresh towels daily</li>
          <li class="aminities-item">
            Deluxe bathrobes (in some room categories)
          </li>
        </ul>
      </div>

      <div class="block-bedroom-amenities">
        <h3 class="title-amenities">Bedroom:</h3>
        <ul class="amenities-list">
          <li class="aminities-item">
            Comfortable beds with high-quality linens
          </li>
          <li class="aminities-item">Blackout curtains</li>
          <li class="aminities-item">
            Climate control (air conditioning and heating)
          </li>
          <li class="aminities-item">Safe for valuables</li>
          <li class="aminities-item">Writing desk and chair</li>
          <li class="aminities-item">Flat-screen TV with cable channels</li>
        </ul>
      </div>

      <div class="block-kitchen-amenities">
        <h3 class="title-amenities">Kitchen:</h3>
        <ul class="amenities-list">
          <li class="aminities-item">
            In-room kitchenette (in some room categories)
          </li>
          <li class="aminities-item">Refrigerator</li>
          <li class="aminities-item">Microwave</li>
          <li class="aminities-item">Electric kettle</li>
          <li class="aminities-item">Cooking utensils and cutlery</li>
          <li class="aminities-item">Dining table and chairs</li>
        </ul>
      </div>

      <div class="block-media-amenities">
        <h3 class="title-amenities">Media:</h3>
        <ul class="amenities-list">
          <li class="aminities-item">Flat-screen TV with cable channels</li>
          <li class="aminities-item">High-speed Wi-Fi</li>
          <li class="aminities-item">iPod docking station</li>
          <li class="aminities-item">Speaker system</li>
          <li class="aminities-item">
            Electrical outlets for charging devices.
          </li>
        </ul>
      </div>
    </div>

    <div class="block-aminities-image">
      <picture>
        <source
          srcset="
            ./img//amenities/amenities-bathroom-dekstop.jpg   1x,
            ./img/amenities/amenities-bathroom-dekstop@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/amenities/amenities-bathroom-tablet.jpg    1x,
            ./img/amenities/amenities-bathroom-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/amenities/amenities-bathroom-mob.jpg    1x,
            ./img/amenities/amenities-bathroom-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./img/amenities/amenities-bathroom-mob.jpg"
          alt="bathroom in hotel"
          class="amenities-bathroom-image"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./img//amenities/amenities-toiletries-dekstop.jpg   1x,
            ./img/amenities/amenities-toiletries-dekstop@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/amenities/amenities-toiletries-tablet.jpg    1x,
            ./img/amenities/amenities-toiletries-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/amenities/amenities-toiletries-mob.jpg    1x,
            ./img/amenities/amenities-toiletries-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./img/amenities/amenities-toiletries-mob.jpg"
          alt="bathroom in hotel"
          class="amenities-toiletries-image"
        />
      </picture>
      <button class="amenities-btn btn" type="submit">book a room</button>
    </div>
  </div>
</section>
