<!-- HERO -->
<section class="other-page-hero">
  <div class="container">
    <div class="other-wrap">
      <div class="hero-position">
        <h1 class="other-hero-title">
          Double <span class="other-title-accent">luxury</span> room
        </h1>
        <ul class="other-btn-list list">
          <li class="other-btn-item">
            <button class="other-btn" type="button">view prices</button>
          </li>
        </ul>
      </div>

      <!-- SLIDER -->
      <div class="swiper-position">
        <div class="slider-img swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-1.jpg    1x,
                    ./img/desktop-slide/desk-slide-1@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-1.jpg    1x,
                    ./img/tablet-slader/tablet-slide-1@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-1.jpg    1x,
                    ./img/mobile-slider/mobile-slide-1@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-1.jpg"
                  alt=""
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-2.jpg    1x,
                    ./img/desktop-slide/desk-slide-2@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-2.jpg    1x,
                    ./img/tablet-slader/tablet-slide-2@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-2.jpg    1x,
                    ./img/mobile-slider/mobile-slide-2@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-2.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-3.jpg    1x,
                    ./img/desktop-slide/desk-slide-3@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-3.jpg    1x,
                    ./img/tablet-slader/tablet-slide-3@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-3.jpg    1x,
                    ./img/mobile-slider/mobile-slide-3@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-3.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-4.jpg    1x,
                    ./img/desktop-slide/desk-slide-4@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-4.jpg    1x,
                    ./img/tablet-slader/tablet-slide-4@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-4.jpg    1x,
                    ./img/mobile-slider/mobile-slide-4@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-4.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-5.jpg    1x,
                    ./img/desktop-slide/desk-slide-5@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-5.jpg    1x,
                    ./img/tablet-slader/tablet-slide-5@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-5.jpg    1x,
                    ./img/mobile-slider/mobile-slide-5@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-5.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-6.jpg    1x,
                    ./img/desktop-slide/desk-slide-6@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-6.jpg    1x,
                    ./img/tablet-slader/tablet-slide-6@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-6.jpg    1x,
                    ./img/mobile-slider/mobile-slide-6@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-6.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-7.jpg    1x,
                    ./img/desktop-slide/desk-slide-7@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-7.jpg    1x,
                    ./img/tablet-slader/tablet-slide-7@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-7.jpg    1x,
                    ./img/mobile-slider/mobile-slide-7@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-7.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-8.jpg    1x,
                    ./img/desktop-slide/desk-slide-8@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-8.jpg    1x,
                    ./img/tablet-slader/tablet-slide-8@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-8.jpg    1x,
                    ./img/mobile-slider/mobile-slide-8@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-8.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-9.jpg    1x,
                    ./img/desktop-slide/desk-slide-9@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-9.jpg    1x,
                    ./img/tablet-slader/tablet-slide-9@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-9.jpg    1x,
                    ./img/mobile-slider/mobile-slide-9@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-9.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-10.jpg    1x,
                    ./img/desktop-slide/desk-slide-10@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-10.jpg    1x,
                    ./img/tablet-slader/tablet-slide-10@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-10.jpg    1x,
                    ./img/mobile-slider/mobile-slide-10@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-10.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-11.jpg    1x,
                    ./img/desktop-slide/desk-slide-11@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-11.jpg    1x,
                    ./img/tablet-slader/tablet-slide-11@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-11.jpg    1x,
                    ./img/mobile-slider/mobile-slide-11@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-11.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-12.jpg    1x,
                    ./img/desktop-slide/desk-slide-12@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-12.jpg    1x,
                    ./img/tablet-slader/tablet-slide-12@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-12.jpg    1x,
                    ./img/mobile-slider/mobile-slide-12@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-12.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-13.jpg    1x,
                    ./img/desktop-slide/desk-slide-13@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-13.jpg    1x,
                    ./img/tablet-slader/tablet-slide-13@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-13.jpg    1x,
                    ./img/mobile-slider/mobile-slide-13@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-13.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-14.jpg    1x,
                    ./img/desktop-slide/desk-slide-14@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-14.jpg    1x,
                    ./img/tablet-slader/tablet-slide-14@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-14.jpg    1x,
                    ./img/mobile-slider/mobile-slide-14@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-14.jpg"
                  alt="building"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop-slide/desk-slide-15.jpg    1x,
                    ./img/desktop-slide/desk-slide-15@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/tablet-slader/tablet-slide-15.jpg    1x,
                    ./img/tablet-slader/tablet-slide-15@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    ./img/mobile-slider/mobile-slide-15.jpg    1x,
                    ./img/mobile-slider/mobile-slide-15@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img class="img-slide"
                  src="./img/mobile-slider/mobile-slide-15.jpg"
                  alt="building"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="btn-slider-wrap">
          <div class="btn-slider swiper-button-prev"></div>
          <div class="btn-slider swiper-button-next"></div>
        </div>
      </div>
      <p class="other-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    </div>
    
  </div>
</section>
