<section class="double-lux">
  <div class="double-lux-container">
    <ul class="double-lux-img-list list">
      <li class="double-lux-img-item link">
        <picture>
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room1-desktop.webp    1x,
              ./images/double-luxury-room/double-luxury-room1-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room1-tablet.webp    1x,
              ./images/double-luxury-room/double-luxury-room1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room1-mobile.webp    1x,
              ./images/double-luxury-room/double-luxury-room1-mobile@2x.webp 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room1-desktop.jpg    1x,
              ./images/double-luxury-room/double-luxury-room1-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room1-tablet.jpg    1x,
              ./images/double-luxury-room/double-luxury-room1-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room1-mobile.jpg    1x,
              ./images/double-luxury-room/double-luxury-room1-mobile@2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <img
            src="./images/double-luxury-room/double-luxury-room1-desktop.jpg "
            alt="Dining room"
          />
        </picture>
      </li>
      <li class="double-lux-img-item link">
        <picture>
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room2-desktop.webp    1x,
              ./images/double-luxury-room/double-luxury-room2-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room2-tablet.webp    1x,
              ./images/double-luxury-room/double-luxury-room2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room2-mobile.webp    1x,
              ./images/double-luxury-room/double-luxury-room2-mobile@2x.webp 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room2-desktop.jpg    1x,
              ./images/double-luxury-room/double-luxury-room2-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room2-tablet.jpg    1x,
              ./images/double-luxury-room/double-luxury-room2-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room2-mobile.jpg    1x,
              ./images/double-luxury-room/double-luxury-room2-mobile@2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <img
            src="./images/double-luxury-room/double-luxury-room2-desktop.jpg "
            alt="Bedroom"
          />
        </picture>
      </li>
      <li class="double-lux-img-item link">
        <picture>
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room3-desktop.webp    1x,
              ./images/double-luxury-room/double-luxury-room3-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room3-tablet.webp    1x,
              ./images/double-luxury-room/double-luxury-room3-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room3-mobile.webp    1x,
              ./images/double-luxury-room/double-luxury-room3-mobile@2x.webp 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room3-desktop.jpg    1x,
              ./images/double-luxury-room/double-luxury-room3-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room3-tablet.jpg    1x,
              ./images/double-luxury-room/double-luxury-room3-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/double-luxury-room/double-luxury-room3-mobile.jpg    1x,
              ./images/double-luxury-room/double-luxury-room3-mobile@2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <img
            src="./images/double-luxury-room/double-luxury-room3-desktop.jpg "
            alt="Bathroom"
          />
        </picture>
      </li>
    </ul>
    <div class="double-lux-full-text">
      <div>
        <h2 class="double-lux-title">DOUBLE LUXURY ROOM</h2>

        <div class="double-lux-text-both">
          <p class="double-lux-text first-part">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>

          <p class="double-lux-text second-part">
            Relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </p>
        </div>
      </div>

      <div class="double-lux-buttons">
        <a class="double-lux-link link" href="./room-page.html">More details</a>
        <button class="double-lux-btn btn" type="button" data-modal-open>View prices</button>
    </div>
  </div>
</section>