<section class="double-lux">
  <div class="conteiner">
    <ul class="double-lux-img-list">
      <li class="double-lux-img-item">
        <picture>
          <source
            srcset="
              /images/double-luxury-room/double-luxury-room1-desktop.jpg    1x,
              /images/double-luxury-room/double-luxury-room1-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /images/double-luxury-room/double-luxury-room1-desktop.jpg    1x,
              /images/double-luxury-room/double-luxury-room1-desktop@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/double-luxury-room/double-luxury-room1-desktop.jpg    1x,
              /images/double-luxury-room/double-luxury-room1-desktop@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/double-luxury-room/double-luxury-room1-desktop.jpg"
            alt="Four seater room bedroom"
            width="386px"
          />
        </picture>
      </li>
      <li class="double-lux-img-item"></li>
      <li class="double-lux-img-item"></li>
    </ul>
    <h2 class="double-lux-title">DOUBLE LUXURY ROOM</h2>
    <p class="double-lux-text">
      Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious
      room features a comfortable bed, private bathroom, flat-screen TV, and
      high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing
      ensure a peaceful night's sleep. <br />
      Relax after a busy day at the writing desk or armchair. Book now for a
      convenient and comfortable stay.
    </p>
    <div class="double-lux-buttons">
      <a class="double-lux-link link" href="/src/room-page.html"
        >More details</a
      >
      <button class="double-lux-btn btn" type="button">View prices</button>
    </div>
  </div>
</section>
