<div class="four-room-section">
  <div class="container-four-room container">
    <div class="four-room-galary">
      <ul class="four-room-galary-list list">
        <li class="four-room-galary-item">
          <picture>
            <source
              srcset="
                ./img/four-seater-room/four-seater-bedroom-desktop.webp    1x,
                ./img/four-seater-room/four-seater-bedroom-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bedroom-tablet.webp    1x,
                ./img/four-seater-room/four-seater-bedroom-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bedroom-mobile.webp    1x,
                ./img/four-seater-room/four-seater-bedroom-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bedroom-desktop.jpg    1x,
                ./img/four-seater-room/four-seater-bedroom-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bedroom-tablet.jpg    1x,
                ./img/four-seater-room/four-seater-bedroom-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bedroom-mobile.jpg    1x,
                ./img/four-seater-room/four-seater-bedroom-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/four-seater-room/four-seater-bedroom-desktop.jpg"
              alt="Four seater room bedroom"
            />
          </picture>
        </li>
        <li class="four-room-galary-item">
          <picture>
            <source
              srcset="
                ./img/four-seater-room/four-seater-bathroom-desktop.webp    1x,
                ./img/four-seater-room/four-seater-bathroom-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bathroom-tablet.webp    1x,
                ./img/four-seater-room/four-seater-bathroom-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bathroom-mobile.webp    1x,
                ./img/four-seater-room/four-seater-bathroom-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bathroom-desktop.jpg    1x,
                ./img/four-seater-room/four-seater-bathroom-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bathroom-tablet.jpg    1x,
                ./img/four-seater-room/four-seater-bathroom-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-bathroom-mobile.jpg    1x,
                ./img/four-seater-room/four-seater-bathroom-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/four-seater-room/four-seater-bathroom-desktop.jpg"
              alt="Four seater room bathroom"
            />
          </picture>
        </li>
        <li class="four-room-galary-item">
          <picture>
            <source
              srcset="
                ./img/four-seater-room/four-seater-kitchen-desktop.webp    1x,
                ./img/four-seater-room/four-seater-kitchen-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-kitchen-tablet.webp    1x,
                ./img/four-seater-room/four-seater-kitchen-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-kitchen-mobile.webp    1x,
                ./img/four-seater-room/four-seater-kitchen-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-kitchen-desktop.jpg    1x,
                ./img/four-seater-room/four-seater-kitchen-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-kitchen-tablet.jpg    1x,
                ./img/four-seater-room/four-seater-kitchen-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/four-seater-room/four-seater-kitchen-mobile.jpg    1x,
                ./img/four-seater-room/four-seater-kitchen-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/four-seater-room/four-seater-kitchen-desktop.jpg"
              alt="Four seater room kitchen"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="four-room-box">
      <div class="four-room-describe">
        <h2 class="four-room-title">four-seater room</h2>
        <p class="four-room-text">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <div class="four-room-buttons">
        <a class="four-room-link link" href="./room-page.html" target="_blank"
          >More details</a
        >
        <button class="four-room-btn btn" data-modal-open-second  type="button">View prices</button>
      </div>
    </div>
  </div>
</div>
