<div class="four-room-section">
  <div class="container">
    <div class="four-room-galary">
      <ul class="four-room-galary-list list">
        <li class="four-room-galary-item">
          <picture>
            <source srcset="" type />
            <source srcset="" type />
            <img
              src="/src/images/four-seater-room/four-seater-bedroom-desktop.jpg"
              alt="Four seater room bedroom"
              width="539"
            />
          </picture>
        </li>
        <li class="four-room-galary-item">
          <picture>
            <source srcset="" type />
            <source srcset="" type />
            <img
              src="/src/images/four-seater-room/four-seater-bathroom-desktop.jpg"
              alt="Four seater room bathroom"
              width="387"
            />
          </picture>
        </li>
        <li class="four-room-galary-item">
          <picture>
            <source srcset="" type />
            <source srcset="" type />
            <img
              src="/src/images/four-seater-room/four-seater-kitchen-desktop.jpg"
              alt="Four seater room kitchen"
              width="386"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="four-room-describe">
      <h2 class="four-room-title title">four-seater room</h2>
      <p class="four-room-text">
        Our 4-person room is perfect for small groups, offering comfort and
        convenience with 4 comfortable beds, ample storage, flat-screen TV,
        mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
        and soundproof walls. Book now for a memorable stay.
      </p>
    </div>
    <div class="four-room-buttons">
      <a class="four-room-link link" href="./room-page.html">More details</a>
      <button class="four-room-btn btn" type="button">View prices</button>
    </div>
  </div>
</div>
