<div class="triple-room-section">
  <div class="container">
    <div class="triple-room-galary">
      <ul class="triple-room-galary-list list">
        <li class="triple-room-galary-item">
          <picture>
            <source srcset="" type />
            <source srcset="" type />
            <img
              src="/src/images/triple-room/tripl-bedroom-desktop.jpg"
              alt="Triple room bedroom"
              width="539"
            />
          </picture>
        </li>
        <li class="triple-room-galary-item">
          <picture>
            <source srcset="" type />
            <source srcset="" type />
            <img
              src="/src/images/triple-room/tripl-bathroom-desktop.jpg"
              alt="Triple room bathroom"
              width="387"
            />
          </picture>
        </li>
        <li class="triple-room-galary-item">
          <picture>
            <source srcset="" type />
            <source srcset="" type />
            <img
              src="/src/images/triple-room/tripl-kitchen-desktop.jpg"
              alt="Triple room kitchen"
              width="386"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="triple-room-describe">
      <h2 class="triple-room-title title">Triple Room</h2>
      <p class="triple-room-text">
        Escape to our spacious Triple Room, perfect for families or groups.
        Enjoy comfort with three beds, seating area, stunning views, flat-screen
        TVs, Wi-Fi, and mini-fridge.
      </p>
      <p class="triple-room-text">
        Rejuvenate in the en-suite bathroom with plush towels and toiletries.
        Book now for a memorable stay.
      </p>
    </div>
    <div class="triple-room-buttons">
      <a class="triple-room-link link" href="/src/room-page.html"
        >More details</a
      >
      <button class="triple-room-btn btn" type="button">View prices</button>
    </div>
  </div>
</div>
