<div class="triple-room-section">
  <div class="container-triple-room container">
    <div class="triple-room-galary">
      <ul class="triple-room-galary-list list">
        <li class="triple-room-galary-item">
          <picture>
            <source
              srcset="
                ./img/triple-room/tripl-bedroom-desktop.webp    1x,
                ./img/triple-room/tripl-bedroom-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bedroom-tablet.webp    1x,
                ./img/triple-room/tripl-bedroom-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bedroom-mobile.webp    1x,
                ./img/triple-room/tripl-bedroom-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bedroom-desktop.jpg    1x,
                ./img/triple-room/tripl-bedroom-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bedroom-tablet.jpg    1x,
                ./img/triple-room/tripl-bedroom-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bedroom-mobile.jpg    1x,
                ./img/triple-room/tripl-bedroom-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/triple-room/tripl-bedroom-desktop.jpg"
              alt="Triple room bedroom"
            />
          </picture>
        </li>
        <li class="triple-room-galary-item">
          <picture>
            <source
              srcset="
                ./img/triple-room/tripl-bathroom-desktop.webp    1x,
                ./img/triple-room/tripl-bathroom-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bathroom-tablet.webp    1x,
                ./img/triple-room/tripl-bathroom-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bathroom-mobile.webp    1x,
                ./img/triple-room/tripl-bathroom-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bathroom-desktop.jpg    1x,
                ./img/triple-room/tripl-bathroom-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bathroom-tablet.jpg    1x,
                ./img/triple-room/tripl-bathroom-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/triple-room/tripl-bathroom-mobile.jpg    1x,
                ./img/triple-room/tripl-bathroom-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/triple-room/tripl-bathroom-desktop.jpg"
              alt="Triple room bathroom"
            />
          </picture>
        </li>
        <li class="triple-room-galary-item">
          <picture>
            <source
              srcset="
                ./img/triple-room/tripl-kitchen-desktop.webp    1x,
                ./img/triple-room/tripl-kitchen-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-kitchen-tablet.webp    1x,
                ./img/triple-room/tripl-kitchen-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-kitchen-mobile.webp    1x,
                ./img/triple-room/tripl-kitchen-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/triple-room/tripl-kitchen-desktop.jpg    1x,
                ./img/triple-room/tripl-kitchen-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/triple-room/tripl-kitchen-tablet.jpg    1x,
                ./img/triple-room/tripl-kitchen-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/triple-room/tripl-kitchen-mobile.jpg    1x,
                ./img/triple-room/tripl-kitchen-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/triple-room/tripl-kitchen-desktop.jpg"
              alt="Triple room kitchen"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="triple-room-box">
      <div class="triple-room-describe">
        <h2 class="triple-room-title">Triple Room</h2>
        <di class="triple-room-text-box">
          <p class="triple-room-text first-part">
            Escape to our spacious Triple Room, perfect for families or groups.
            Enjoy comfort with three beds, seating area, stunning views,
            flat-screen TVs, Wi-Fi, and mini-fridge.
          </p>
          <p class="triple-room-text second-part">
            Rejuvenate in the en-suite bathroom with plush towels and
            toiletries. Book now for a memorable stay.
          </p>
        </di>
      </div>
      <div class="triple-room-buttons">
        <a class="triple-room-link link" href="./room-page.html" target="_blank"
          >More details</a
        >
        <button class="triple-room-btn btn" type="button" data-modal-open-second>View prices</button>
      </div>
    </div>
  </div>
</div>
