<section class="About-a-complex">
  <div class="container-about container">
    <div class="flex-desktop-about">
      <h2 class="visually-hidden">About a complex</h2>

    <div class="About-a-complex-list-container">
      <ul class="About-a-complex-list list">
        <li class="About-a-complex-item">
          <picture>
            <source 
            media="(min-width: 1440px)" 
            srcset="./img/about-a-complex/room-desktop.jpg 1x, ./img/about-a-complex/room-desktop-2x.jpg 2x" 
            alt=""
            width="482px"
            />
          <source 
          media="(min-width: 768px)"
            srcset="./img/about-a-complex/room-tab.jpg 1x, ./img/about-a-complex/room-tab-2x.jpg 2x" 
            alt=""
            width="482px"
             />
            <img
            class="About-a-complex-img"
            src="./img/about-a-complex/room-mob.jpg"
            style="width:100%;"
            alt="room"
          />
          </picture>
          
        </li>
        <li class="About-a-complex-item position">
         <picture>
            <source 
            media="(min-width: 1440px)"
            srcset="./img/about-a-complex/bathroom-desktop.jpg 1x, ./img/about-a-complex/bathroom-desktop-2x.jpg 2x" 
            alt=""
            width="430px"
            hight="219px"
            />
          <source 
          media="(min-width: 768px)"
            srcset="./img/about-a-complex/bathroom-tab.jpg 1x, ./img/about-a-complex/bathroom-tab-2x.jpg 2x" 
            alt=""
            width="404px"
            hight="219px"
             />
            <img
            class="About-a-complex-img"
            src="./img/about-a-complex/bathroom-mob.jpg"
            width="282px"
            alt=""
          />
        </li>
      </ul>
      <div class="content-message">
        <img src="./img/about-a-complex/Ellipse.png" alt="" />

        <div class="content-text">
          <p class="mane-user">Maria</p>
          <p class="user-rating">give rating <span class="rating">4.5</span></p>
        </div>
      </div>
    </div>
<div class="text">
  <h3 class="restaurant-hotel-title">restaurant-hotel complex</h3>
    <p class="restaurant-hotel-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="restaurant-hotel-subtext">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
</div>
    </div>
    <div class="about-bar">
      <picture class="about-position">
        <source
        media="(min-width: 1440px)"
        srcset="./img/about-a-complex/bar-desktop.jpg 1x, ./img/about-a-complex/bar-desktop-2x.jpg 2x"
        alt="bar-room-desktop"
        widht="530px"
        hight="492px"
        >
        <source
        media="(min-width: 768px)"
        srcset="./img/about-a-complex/bar-tab.jpg 1x, ./img/about-a-complex/bar-tab-2x.jpg 2x"
        alt="bar-room-tab"
        widht="530px"
        hight="492px"
        >
        <img 
        src="./img/about-a-complex/bar-mob.jpg" 
        alt="" 
        style="width:100%;"/>
      </picture>
    <div class="flex">
      <div class="text-business">
      <h3 class="business-class-title">business class hotel</h3>
    <p class="business-class-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    </div>
    <picture class="about-bar-room">
        <source
        media="(min-width: 1440px)"
        srcset="./img/about-a-complex/bar-room-desktop.jpg 1x, ./img/about-a-complex/bar-room-desktop-2x.jpg 2x"
        alt="bar-room-desktop"
        width="266px"
        hight="309px"
        >
        <source
        media="(min-width: 768px)"
        srcset="./img/about-a-complex/bar-room-tab.jpg 1x, ./img/about-a-complex/bar-room-tab-2x.jpg 2x"
        alt="bar-room-tab"
        width="266px"
        hight="309px"
        >
        <img 
        src="./img/about-a-complex/bar-room.jpg" 
        alt="" 
        style="width:335px;"/>
      </picture>
    </div>
    <div class="content-message-business">
        <img src="./img/about-a-complex/Alexander.png" alt="" />

        <div class="content-text">
          <p class="mane-user">Alexander</p>
          <p class="user-rating">give rating <span class="rating">5.5</span></p>
        </div>
    </div>
  </div>
</section>
