<section class="About-a-complex">
  <div class="container">
    <h2 class="visually-hidden">About a complex</h2>

    <div class="About-a-complex-list-container">
      <ul class="About-a-complex-list">
        <li class="About-a-complex-item">
          <img
            class="About-a-complex-img"
            src="./images/about a complex/room.jpg"
            alt=""
          />
        </li>
        <li class="About-a-complex-item">
         
          <img src="./images/about a complex/bathroom.jpg" alt="" />
          
        </li>
      </ul>
      <div class="content-message">
        <img src="../images/about a complex/Ellipse.png" alt="" />

        <div class="content-text">
          <p class="mane-user">Maria</p>
          <p class="user-rating">give rating <span class="rating">4.5</span></p>
        </div>
      </div>
    </div>

    <h3 class="restaurant-hotel-title">restaurant-hotel complex</h3>
    <p class="restaurant-hotel-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="restaurant-hotel-subtext">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
    <img src="./images/about a complex/bar.jpg" alt="" />
    <h3 class="business-class-title">business class hotel</h3>
    <p class="business-class-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    <img src="./images/about a complex/bar room.jpg" alt="" />
  </div>
</section>
