<footer class="footer">
    <div class="container footer-container">
    <ul class="footer-list list none">
        <li class="footer-item"><a href="./index.html" target="_blank"  class="footer-link">Home</a></li>
        <li class="footer-item"><a href="./hotel-page.html" target="_blank" class="footer-link">Hotel</a></li>
        <li class="footer-item"><a href="./restaurant-page.html" target="_blank"  class="footer-link">Restaurant</a></li>
    </ul>
    <div class="footer-wrap-logo">
        <a href="./index.html" class="footer-logo">Mimino</a>
        <p class="footer-desc">restaurant-hotel complex</p>
    </div>

    <ul class="footer-social-list list">
        <li class="footer-item">
            <a href="https://www.instagram.com/" target="_blank" class="footer-svg-link">
                <svg class="footer-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="footer-item">
            <a href="https://www.facebook.com/" target="_blank" class="footer-svg-link">
                <svg class="footer-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="footer-item">
            <a href="https://twitter.com/" target="_blank" class="footer-svg-link" >
                <svg class="footer-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
  </div>
</footer>