<footer class="footer">
    <div class="container footer-container">
    <ul class="footer-list none">
        <li class="footer-item"><a href="/src/index.html" target="_blank"  class="footer-link">Home</a></li>
        <li class="footer-item"><a href="/src/hotel-page.html" target="_blank" class="footer-link">Hotel</a></li>
        <li class="footer-item"><a href="/src/restaurant-page.html" target="_blank"  class="footer-link">Restaurant</a></li>
    </ul>
    <div class="footer-wrap-logo">
        <a href="/src/index.html" class="footer-logo">Mimino</a>
        <p class="footer-desc">restaurant-hotel complex</p>
    </div>

    <ul class="footer-social-list">
        <li class="footer-item">
            <a href="" target="_blank" class="footer-svg-link">
                <svg class="footer-icon" width="24" height="24">
                    <use href="./img/icons.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <li class="footer-item">
            <a href="" target="_blank" class="footer-svg-link">
                <svg class="footer-icon" width="24" height="24">
                    <use href="./img/icons.svg#facebook"></use>
                </svg>
            </a>
        </li>
        <li class="footer-item">
            <a href="" target="_blank" class="footer-svg-link" >
                <svg class="footer-icon" width="24" height="24">
                    <use href="./img/icons.svg#twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
  </div>
</footer>