<header class="header">
  <div class="mobile-menu" data-menu>
    <div class="menu-container container">
      <button type="button" class="header-btn close" data-menu-close>
        <svg class="header-icon close">
          <use
            class="close-icon"
            href="./img/sprite.svg#icon-menu-close"
          ></use>
        </svg>
      </button>
      <div class="logo-wrap logo-mobile">
        <a class="header-link header-title" href="./index.html"
          >Mimino<span class="header-text">restaurant-hotel complex</span></a
        >
      </div>
      <ul class="mobile-menu-nav-list list">
        <li>
          <a class="mobile-link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="mobile-link" href="./hotel-page.html">Hotel</a>
        </li>
        <li>
          <a class="mobile-link" href="./restaurant-page.html">Restaurant</a>
        </li>
      </ul>

      <ul class="mobile-menu-soc-list list">
        <li>
          <a target="_blank" href="https://www.instagram.com/">
            <svg class="mobile-icon">
              <use
                class="home-icon"
                href="./img/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://uk-ua.facebook.com/">
            <svg class="mobile-icon">
              <use
                class="home-icon"
                href="./img/sprite.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/?lang=uk">
            <svg class="mobile-icon">
              <use
                class="home-icon"
                href="./img/sprite.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container relativ">
    <button type="button" class="header-btn open" data-menu-open>
      <svg class="header-icon">
        <use class="burger-icon" href="./img/sprite.svg#icon-menu-open"></use>
      </svg>
    </button>

    <div class="nav-wrap">
      <nav class="header-nav">
        <ul class="header-nav-list list">
          <li class="nav-list-item">
            <a class="header-nav-link current" href="./index.html">Home</a>
          </li>
          <li class="nav-list-item">
            <a class="header-nav-link" href="./hotel-page.html">Hotel</a>
          </li>
          <li class="nav-list-item">
            <a class="header-nav-link" href="./restaurant-page.html">Restaurant</a>
          </li>
        </ul>
      </nav>
      <div class="logo-wrap">
        <a class="header-link header-title" href="./index.html"
          >Mimino<span class="header-text">restaurant-hotel complex</span></a
        >
      </div>
      <ul class="headar-soc-list list">
        <li class="nav-list-item">
          <a
            class="header-soc-link"
            target="_blank"
            href="https://www.instagram.com/"
          >
            <svg class="header-soc-icon">
              <use
                class="home-icon"
                href="./img/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            class="header-soc-link"
            target="_blank"
            href="https://uk-ua.facebook.com/"
          >
            <svg class="header-soc-icon">
              <use
                class="home-icon"
                href="./img/sprite.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            class="header-soc-link"
            target="_blank"
            href="https://twitter.com/?lang=uk"
          >
            <svg class="header-soc-icon">
              <use
                class="home-icon"
                href="./img/sprite.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

