<!-- HERO -->
<section class="section hero hero-pic">
  <div class="container">
    <h1 class="home-hero-title">Mimino</h1>
    <div class="home-wrap">
      <ul class="home-btn-list list">
        <li class="home-btn-item">
          <button class="hero-button" type="button" data-modal-open-room>
            book a room
          </button>
        </li>
        <li class="home-btn-item">
          <button class="hero-button" type="button" data-modal-open-second>book a table</button>
        </li>
      </ul>
      <div class="home-text-wrap">
        <p class="home-hero-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or
          <span class="text-accent">a romantic dinner</span>, our menu has
          something for everyone.
        </p>
        <p class="home-hero-text">
          At Hotel Mimino,
          <span class="text-accent">we believe</span> that great food should be
          available to everyone, no matter the time of day.
        </p>
      </div>
    </div>
  </div>
</section>


