<!-- HERO -->
<section class="section hero hero-pic">
  <div class="container">
    <h1 class="home-hero-title">Mimino</h1>
    <div class="home-wrap">
      <ul class="home-btn-list list">
        <li class="home-btn-item">
          <button class="hero-button" type="button" data-modal-open-room>
            <a class="hero-btn-link" href="">book a room</a>
          </button>
        </li>
        <li class="home-btn-item">
          <button class="hero-button" type="button">
            <a class="hero-btn-link" href="">book a table</a>
          </button>
        </li>
      </ul>
      <div class="home-text-wrap">
        <p class="home-hero-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or
          <span class="text-accent">a romantic dinner</span>, our menu has
          something for everyone.
        </p>
        <p class="home-hero-text">
          At Hotel Mimino,
          <span class="text-accent">we believe</span> that great food should be
          available to everyone, no matter the time of day.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Book a Room Modal window -->
<div class="backdrop room" data-modal-room>
  <div class="modal room-modal">
    <button type="button" class="room-btn-close" data-modal-close-room>
      <svg class="room-close">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">BOOK A room</h2>
    <form class="form">
      <div class="label-wrap">
        <input
          id="room-name"
          type="text"
          class="modal-input"
          placeholder="Your name"
          pattern="[A-z]{2,20}"
          required
        />
        <label class="form-text" for="room-name"
          >Who should book a table for?</label
        >
      </div>
      <div class="label-wrap">
        <input
          id="room-tel"
          type="tel"
          class="modal-input"
          placeholder="+ 38 ()"
          pattern="\+?[0-9]{3}-[0-9]{3}-[0-9]+{4}"
         
          required
        />
        <label class="form-text" for="room-tel"> Phone number</label>
      </div>
      <div class="label-wrap">
        <select class="select " name="room-select" id="room-select" >
          <option value="date">TODAY</option>
          <option value="1">02.02.2023</option>
          <option value="2">03.02.2023</option>
          <option value="3">04.02.2023</option>
        </select>
        <label class="form-text datetime" for="room-select">What date to book?</label>
      </div>
      <div class="datetime-wrap label-wrap">
        <input
          id="room-datetime"
          class="modal-input"
          type="datetime"
          placeholder="25/04/2023"
        />
        <label class="form-text datetime" for="room-datetime"
          >Check-in date</label
        >
      </div>
      <div class="label-wrap">
        <select class="select" name="room-select" id="room-list">
          <option value="date">Double suite</option>
          <option value="1">Double luxury room</option>
          <option value="2">Triple Room</option>
          <option value="3">four-seater room</option>
        </select>
        <label class="form-text datetime" for="room-list">Number category</label>
      </div>
      <button class="form-btn" type="submit">MAKE A RESERVATION</button>
    </form>
    
  </div>
</div>
