<!-- --------hotel-details---------- -->
<section class="hotel-det">
    <div class="container container-hotel-det">
        <div class="hotel-det-desk-block">
            <div class="hotel-det-text-block">
                <h2 class="hotel-det-title">
                    Hotel
                </h2>
                <p class="hotel-det-text">
                    Book your stay with us now and experience the epitome of comfort and luxury at our hotel. We guarantee you'll be
                    thrilled with your decision.
                </p>
            </div>
            <div class="hotel-det-btns-desk">
                <ul class="hotel-det-btns-list">
                    <li class="hotel-det-btns-item">
                        <button type="button" class="btn hotel-det-btn hotel-det-btn-book">Book a room</button>
                    </li>
                    <li class="hotel-det-btns-item">
                        <button type="button" class="btn hotel-det-btn hotel-det-btn-view">
                            <a class="hotel-det-btns-link" href="hotel-page.html">View rooms</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hotel-det-pictures">
            <div class="hotel-det-pic-block-one">
                <picture class="pic-one">
                    <source srcset="./img/hotel-details/hotel-det-des1-1x.jpg 1x,
                    ./img/hotel-details/hotel-det-des1-2x.jpg 2x" media="(min-width: 1440px)">
        
                    <source srcset="./img/hotel-details/hotel-det-tab1-1x.jpg 1x,
                    ./img/hotel-details/hotel-det-tab1-2x.jpg 2x" media="(min-width: 768px)">
        
                    <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                    ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(max-width: 767px)">
        
                    <img src="./img/hotel-details/hotel-det-des1-1x.jpg" alt="bed">
                </picture>
            </div>
            <div class="hotel-det-pic-block-two">
                <picture class="pic-two">
                    <source srcset="./img/hotel-details/hotel-det-des2-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-des2-2x.jpg 2x" media="(min-width: 1440px)">
                
                    <source srcset="./img/hotel-details/hotel-det-tab2-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-tab2-2x.jpg 2x" media="(min-width: 768px)">
                
                    <source srcset="./img/hotel-details/hotel-det-2-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-2-2x.jpg 2x" media="(max-width: 767px)">
                
                    <img src="./img/hotel-details/hotel-det-des2-1x.jpg" alt="bed">
                </picture>
                <picture class="pic-three">
                    <source srcset="./img/hotel-details/hotel-det-des3-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-des3-2x.jpg 2x" media="(min-width: 1440px)">
                
                    <source srcset="./img/hotel-details/hotel-det-tab3-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-tab3-2x.jpg 2x" media="(min-width: 768px)">
                
                    <source srcset="./img/hotel-details/hotel-det-3-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-3-2x.jpg 2x" media="(max-width: 767px)">
                
                    <img src="./img/hotel-details/hotel-det-des3-1x.jpg" alt="bed">
                </picture>
            </div>
            <div class="hotel-det-pic-block-one-tab">
                <picture class="pic-one">
                    <source srcset="./img/hotel-details/hotel-det-des1-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-des1-2x.jpg 2x" media="(min-width: 1440px)">
            
                    <source srcset="./img/hotel-details/hotel-det-tab1-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-tab1-2x.jpg 2x" media="(min-width: 768px)">
            
                    <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(max-width: 767px)">
            
                    <img src="./img/hotel-details/hotel-det-des1-1x.jpg" alt="bed">
                </picture>
                <picture class="pic-two">
                    <source srcset="./img/hotel-details/hotel-det-des2-1x.jpg 1x,
                                            ./img/hotel-details/hotel-det-des2-2x.jpg 2x" media="(min-width: 1440px)">
            
                    <source srcset="./img/hotel-details/hotel-det-tab2-1x.jpg 1x,
                                            ./img/hotel-details/hotel-det-tab2-2x.jpg 2x" media="(min-width: 768px)">
            
                    <source srcset="./img/hotel-details/hotel-det-2-1x.jpg 1x,
                                            ./img/hotel-details/hotel-det-2-2x.jpg 2x" media="(max-width: 767px)">
            
                    <img src="./img/hotel-details/hotel-det-des2-1x.jpg" alt="bed">
                </picture>
            </div>
            <div class="hotel-det-pic-block-two-tab">
                <picture class="pic-three">
                    <source srcset="./img/hotel-details/hotel-det-des3-1x.jpg 1x,
                                            ./img/hotel-details/hotel-det-des3-2x.jpg 2x" media="(min-width: 1440px)">
            
                    <source srcset="./img/hotel-details/hotel-det-tab3-1x.jpg 1x,
                                            ./img/hotel-details/hotel-det-tab3-2x.jpg 2x" media="(min-width: 768px)">
            
                    <source srcset="./img/hotel-details/hotel-det-3-1x.jpg 1x,
                                            ./img/hotel-details/hotel-det-3-2x.jpg 2x" media="(max-width: 767px)">
            
                    <img src="./img/hotel-details/hotel-det-des3-1x.jpg" alt="bed">
                </picture>
            </div>
            <div class="hotel-det-pic-block-three-tab">
                <picture class="pic-four">
                    <source srcset="./img/hotel-details/hotel-det-des4-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-des4-2x.jpg 2x" media="(min-width: 1440px)">
                
                    <source srcset="./img/hotel-details/hotel-det-tab4-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-tab4-2x.jpg 2x" media="(min-width: 768px)">
                
                    <img src="./img/hotel-details/hotel-det-des4-1x.jpg" alt="bed">
                </picture>
                <picture class="pic-five">
                    <source srcset="./img/hotel-details/hotel-det-des5-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-des5-2x.jpg 2x" media="(min-width: 1440px)">
                
                    <source srcset="./img/hotel-details/hotel-det-tab5-1x.jpg 1x,
                                ./img/hotel-details/hotel-det-tab5-2x.jpg 2x" media="(min-width: 768px)">
                
                    <img src="./img/hotel-details/hotel-det-des5-1x.jpg" alt="bed">
                </picture>
            </div>
        </div>
        <div class="hotel-det-btns">
            <ul class="list hotel-det-btns-list">
                <li class="hotel-det-btns-item">
                    <button type="button" class="btn hotel-det-btn hotel-det-btn-book">Book a room</button>
                </li>
                <li class="hotel-det-btns-item">
                    <button type="button" class="btn hotel-det-btn hotel-det-btn-view">
                        <a class="hotel-det-btns-link" href="hotel-page.html">View rooms</a>
                        </button>
                </li>
            </ul>
        </div>
    </div>
</section>
