<section class="hotel-det">
    <div class="container container-hotel-det">
    <h2 class="hotel-det-title">
        Hotel
    </h2>
    <p class="hotel-det-text">
        Book your stay with us now and experience the epitome of comfort and luxury at our hotel. We guarantee you'll be
        thrilled with your decision.
    </p>
    <picture>
        <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(min-width: 1140px)">
    
        <source srcset="./img/welcome/welcome-tab-1x.jpg 1x,
                ./img/welcome/welcome-tab-2x.jpg 2x" media="(min-width: 768px)">
    
        <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(max-width: 767px)">
    
        <img src="./img/hotel-details/hotel-det-1-1x.jpg" alt="restaurant">
    </picture>
        <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                        ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(min-width: 1140px)">
        
        <source srcset="./img/welcome/welcome-tab-1x.jpg 1x,
                        ./img/welcome/welcome-tab-2x.jpg 2x" media="(min-width: 768px)">
        
        <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                        ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(max-width: 767px)">
        
        <img src="./img/hotel-details/hotel-det-2-1x.jpg" alt="restaurant">
        </picture>
            <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                            ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(min-width: 1140px)">
            
            <source srcset="./img/welcome/welcome-tab-1x.jpg 1x,
                            ./img/welcome/welcome-tab-2x.jpg 2x" media="(min-width: 768px)">
            
            <source srcset="./img/hotel-details/hotel-det-1-1x.jpg 1x,
                            ./img/hotel-details/hotel-det-1-2x.jpg 2x" media="(max-width: 767px)">
            
            <img src="./img/hotel-details/hotel-det-3-1x.jpg" alt="restaurant">
            </picture>
    <button type="button" class="btn hotel-det-btn-book">Book a room</button>
    <button type="button" class="btn hotel-det-btn-view">View room</button>
    </div>
</section>