<section class="restaurant">
  <div class="container restaurant-details-container">
    <ul class="restaurant-title-list list">
      <li class="restaurant-title-item">
        <h2 class="restaurant-title">restaurant</h2>
      </li>
      <li class="restaurant-title-item">
        <p class="restaurant-suptitle">
          Relax and unwind with our delicious offerings, available any time of
          day.
        </p>
      </li>
    </ul>
    <div class="restaurant-wrap">
      <ul class="restaurant-btn list">
        <li class="restaurant-btn-item">
          <button type="button" class="btn" data-modal-open>
            Book a table
          </button>
        </li>
        <li class="restaurant-btn-item">
          <a href="./restaurant-page.html" class="resto-btn btn"
            >View the menu</a
          >
        </li>
      </ul>

      <ul class="restaurant-list list">
        <li class="restaurant-item">
          <picture>
            <source
              srcset="
                ./img/restaurant/resto-desktop.jpg    1x,
                ./img/restaurant/resto-desktop@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/restaurant/resto-tablet.jpg    1x,
                ./img/restaurant/resto-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/restaurant/resto-mobile.jpg    1x,
                ./img/restaurant/resto-mobile@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              src="./img/restaurant/resto-desktop.jpg"
              width="266"
              height="309"
            />
          </picture>
        </li>
        <li class="restaurant-item">
          <picture>
            <source
              srcset="
                ./img/restaurant/resto-desktop-2.jpg    1x,
                ./img/restaurant/resto-desktop-2@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <img
              src="./img/restaurant/resto-img.jpg"
              width="266"
              height="309"
            />
          </picture>
        </li>
        <li class="restaurant-item">
          <picture>
            <source
              srcset="
                ./img/restaurant/resto-desktop-3.jpg    1x,
                ./img/restaurant/resto-desktop-3@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />

            <img
              src="./img/restaurant/resto-desktop-3.jpg"
              width="266"
              height="309"
              alt=""
            />
          </picture>
        </li>
        <li class="restaurant-item">
          <picture>
            <source
              srcset="
                ./img/restaurant/resto-desktop-4.jpg    1x,
                ./img/restaurant/resto-desktop-4@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/restaurant/resto-tablet-2.jpg    1x,
                ./img/restaurant/resto-tablet-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/restaurant/resto-mobile-2.jpg    1x,
                ./img/restaurant/resto-mobile-2@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              src="./img/restaurant/resto-desktop-4.jpg"
              width="266"
              height="309"
            />
          </picture>
        </li>
        <li class="restaurant-item">
          <picture>
            <source
              srcset="
                ./img/restaurant/resto-desktop-5.jpg    1x,
                ./img/restaurant/resto-desktop-5@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />

            <img
              src="./img/restaurant/resto-desktop-5.jpg"
              width="266"
              height="309"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
