<!-- --------welcome---------- -->
<section class="welcome">
<div class="container welcome-container">
    <div class="welcome-container-mob">
    <h2 class="welcome-title">Welcome to the epitome of <span class="welcome-accent">luxury</span> and <span class="welcome-accent">comfort</span></h2>
        <div class="welcome-text-common">
            <p class="welcome-text welcome-text-first">Our hotel rooms are elegantly designed with an eye for detail, ensuring that you have everything you need for a relaxing
            and rejuvenating stay.</p>
            <p class="welcome-text">Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen TVs, and a
            coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries and towels, so you
            can pamper yourself in complete privacy.</p>
        </div>
    </div>
        <div class="welcome-image">
        <picture>
            <source srcset="./img/welcome/welcome-desc-1x.jpg 1x,
            ./img/welcome/welcome-desc-2x.jpg 2x" 
            media="(min-width: 1440px)">

            <source srcset="./img/welcome/welcome-tab-1x.jpg 1x,
            ./img/welcome/welcome-tab-2x.jpg 2x" 
            media="(min-width: 768px)">

            <source 
            srcset="./img/welcome/welcome-1x.jpg 1x,
            ./img/welcome/welcome-2x.jpg 2x"
            media="(max-width: 767px)">

            <img src="./img/welcome/welcome-tab-1x.jpg" alt="restaurant">
        </picture>
        </div>
        <div class="welcome-container-desc">
            <h2 class="welcome-title">Welcome to the epitome of <span class="welcome-accent">luxury</span> and <span
                    class="welcome-accent">comfort</span></h2>
            <div class="welcome-text-common">
                <p class="welcome-text welcome-text-first">Our hotel rooms are elegantly designed with an eye for detail,
                    ensuring that you have everything you need for a relaxing
                    and rejuvenating stay.</p>
                <p class="welcome-text">Each room is equipped with the latest amenities, including plush bedding, high-speed
                    Wi-Fi, flat-screen TVs, and a
                    coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries and
                    towels, so you
                    can pamper yourself in complete privacy.</p>
            </div>
</div>
</section>