/*Секция Amenities Hotel Room*/

.section-amenities {
  background-color: #121212;
  padding-top: 40px;
  padding-bottom: 64px;
  padding-right: 20px;
  padding-left: 20px;
}

.amenities.container {
  margin-right: auto;
  margin-left: auto;
}

.title-amenities {
  margin-bottom: 28px;
  font-family: 'DM Sans', serif;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
}

.amenities-list {
  margin-bottom: 40px;
}

.aminities-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
}

.aminities-item::before {
  display: inline-block;
  content: '';
  transform: translateY(-4px);

  width: 3px;
  height: 3px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.amenities-btn {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
  width: 175px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: inherit;
  color: #f7f7f7;
}

.amenities-bathroom-image {
  position: relative;
  margin-left: auto;
}

.amenities-toiletries-image {
  position: absolute;
}

@media screen and (min-width: 375px) {
  .amenities.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .amenities.container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .amenities-toiletries-imag {
    width: 365px;
  }
}

@media screen and (min-width: 1440px) {
  .amenities.container {
    width: 1440px;
  }

  .title-amenities {
    font-size: 40px;
    line-height: 1.1;
  }

  .aminities-item {
    font-size: 18px;
    line-height: 1.33;
  }

  .block-amenities {
    display: flex;
    flex-wrap: wrap;
    margin-right: 232px;
  }
}
