:root {
  --text-and-background-color-one: #f6f6f6;
  --text-and-background-color-two: #121212;
  --subtitel-and-background-color: #484848;
  --background-gradient-two: linear-gradient(
    0deg,
    rgba(18, 18, 18, 0.2),
    rgba(18, 18, 18, 0.2)
  );
  --background-gradient-one: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 70.73%,
    #121212 98.51%
  );
}

.body {
  font-family: 'DM+Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

label{
  cursor: pointer;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  border-radius: 32px;
  padding: 8px 18px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
.container {
    padding-left: 32px;
  padding-right: 32px;
  }
  .btn {
    padding: 8px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 32px;
  padding-right: 32px;
  }
  .btn {
    padding: 9px 24px;
  }
}
