.restaurant {
  padding-top: 64px;
}

.restaurant-title {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 24px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-and-background-color-two);
}

.restaurant-suptitle {
  font-family: 'DM Sans';
  font-weight: 500;
  max-width: 221px;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-and-background-color-two);
}

.restaurant-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 0;
  padding: 0;
}

.resto-btn {
  display: block;
}

.restaurant-wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 40px;
}

.restaurant-title-list {
  margin: 0;
  padding: 0;
}

.restaurant-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: auto;
  gap: 20px;
}

.restaurant-item:nth-child(2) {
  display: none;
}

.restaurant-item:nth-child(3) {
  display: none;
}

.restaurant-item:last-child {
  display: none;
}

.btn {
  background-color: var(--text-and-background-color-one);
  color: var(--text-and-background-color-two);
  border: 0.8px solid var(--text-and-background-color-two);
  border-radius: 32px;
  font-family: 'DM Sans';
  text-align: center;
  font-size: 14px;
  min-width: 128px;
  line-height: 1.7;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus) {
  background-color: var(--text-and-background-color-two);
  color: var(--text-and-background-color-one);
}

@media screen and (min-width: 768px) {
  .restaurant-details-container {
    width: 704px;
  }

  .restaurant-title-list {
    display: flex;
    margin-bottom: 87px;
  }

  .restaurant-title {
    margin-bottom: 0;
    padding-right: 32px;
  }

  .restaurant-suptitle {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-details-container {
    width: 1376px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .restaurant-title {
    margin-right: 32px;
    margin-bottom: 0;
  }

  .restaurant-btn {
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 33px;
  }

  .restaurant-item:nth-child(2) {
    display: block;
  }

  .restaurant-item:nth-child(3) {
    display: block;
  }

  .restaurant-item:last-child {
    display: block;
  }

  .restaurant-list {
    gap: 32px;
  }

  .restaurant-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 125px;
  }
}
